/* Mengimpor font Poppins dari Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* Variabel CSS untuk warna dan ukuran */
:root {
    --primary-color: #ff581f;
    --secondary-color: #111111;
    --secondary-color-light: #232220;
    --text-light: #a3a3a3;
    --white: #ffffff;
    --black: #000000;
    --max-width: 1200px;
}

/* Reset CSS untuk padding, margin, dan box-sizing */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Gaya dasar untuk elemen body */
body {
    font-family: "Poppins", sans-serif;
    color: var(--white);
    scroll-behavior: smooth;
}

/* Gaya umum untuk kontainer section */
.section__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}

/* Gaya untuk header section */
.section__header {
    font-size: 2.5rem;
    font-weight: 600;
}

/* Gaya untuk subheader section */
.section__subheader {
    position: relative;
    isolation: isolate;
    margin-bottom: 1rem;
    padding-left: 20px;
    font-size: 1.2rem;
    font-weight: 500;
}

/* Gaya after pseudo-element untuk subheader */
.section__subheader::after {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 45px;
    aspect-ratio: 1;
    background-color: var(--primary-color);
    z-index: -1;
}

/* Gaya untuk header utama */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
    backdrop-filter: blur(20px) grayscale(10%);
    background-color: rgba(0, 0, 0, 0.5);
}

/* Gaya untuk elemen navigasi */
nav {
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Gaya untuk logo navigasi */
.nav__logo a {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--white);
}

/* Gaya untuk tautan navigasi */
.nav__links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

/* Gaya untuk tautan individu */
.link a {
    padding: 5px;
    font-size: 1rem;
    font-weight: 500;
    color: var(--white);
    transition: 0.3s;
}

/* Gaya hover untuk tautan */
.link a:hover {
    color: var(--primary-color);
}

/* Gaya untuk tombol menu navigasi */
.nav__menu__btn {
    display: none;
    font-size: 1.5rem;
}

/* Gaya untuk kontainer header */
.header__container {
    padding-block: 5rem 12rem;
}

/* Gaya untuk judul header */
.header__container h1 {
    max-width: 900px;
    margin-inline: auto;
    margin-bottom: 2rem;
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
}

/* Gaya untuk tombol dalam kontainer header */
.header__container .btn {
    margin: auto;
}

/* Gaya untuk teks dengan perataan justify */
.textJustify {
    text-align: justify;
}

/* Gaya untuk item navigasi sign-in */
.nav-item.nav-link.signin {
    transition: all 0.3s;
    position: relative;
    top: -4px;
    overflow: hidden;
    text-align: center;
    z-index: 1;
    color: #fff;
    font-size: 12px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 0px;
    margin-top: 10px;
    cursor: pointer;
}

/* Gaya untuk tautan dalam item sign-in */
.nav-item.nav-link.signin a {
    text-align: center;
    padding: 10px 25px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

/* Gaya hover untuk tautan dalam item sign-in */
.nav-item.nav-link.signin:hover a {
    color: #ff581f;
    font-weight: bold;
}

.nav-item.nav-link.signin a:hover {
    color: #ff581f;
}

/* Pseudo-element after untuk item sign-in */
.nav-item.nav-link.signin::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #b85b1d;
    border-radius: 10rem;
    z-index: -2;
}

/* Pseudo-element before untuk item sign-in */
.nav-item.nav-link.signin::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #fff;
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
}

/* Gaya hover untuk item sign-in */
.nav-item.nav-link.signin:hover {
    color: #ff581f;
}

.nav-item.nav-link.signin:hover::before {
    width: 100%;
}

/* Gaya umum untuk tautan dalam elemen navigasi */
nav a {
    color: #333;
    padding: 10px 20px;
    text-decoration: none;
    position: relative;
}

/* Media query untuk layar dengan lebar kurang dari 900px */
@media (width < 900px) {
    .nav__links {
        gap: 1.5rem;
    }
}

/* Media query untuk layar dengan lebar kurang dari 860px */
@media (width < 860px) {
    nav {
        position: fixed;
        width: 100%;
        padding: 1rem;
        background-color: var(--black);
        z-index: 99;
    }

    .nav__links {
        position: absolute;
        left: 0;
        top: 68px;
        padding: 2rem;
        width: 100%;
        flex-direction: column;
        transform: scaleY(0);
        transform-origin: top;
        transition: 0.5s;
        background-color: rgba(0, 0, 0, 0.9);
    }

    .nav__links .link a {
        opacity: 0;
    }

    .nav__links.open .link a {
        opacity: 1;
    }

    .nav__links.open {
        transform: scaleY(1);
    }

    .nav__menu__btn {
        display: block;
    }

    .header__container h1 {
        margin-top: 4rem;
        font-size: 3.5rem;
    }
}

/* Gaya untuk scrollbar */
::-webkit-scrollbar {
    width: 12px;
    background-color: #111111;
}

::-webkit-scrollbar-thumb {
    background: #ff581f;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #e64900;
}
