/* Gaya untuk bagian kontak */
.contact {
    background-color: var(--secondary-color);
}

/* Gaya untuk halaman kontak */
.contact.page {
    padding: 1rem;
    padding-top: 8%;
}

/* Gaya untuk kontainer "Find Us" */
.findUsContainer {
    padding: 5rem 0 0;
}

/* Gaya untuk elemen "Find Us" */
.findUs {
    text-align: center;
    padding: 20px;
    font-size: 2rem;
    margin-bottom: 1rem;
}

/* Gaya untuk kontainer kontak */
.contact__container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: stretch;
}

/* Gaya untuk konten kontak */
.contact__content {
    display: flex;
    flex-direction: row;
    gap: 2rem; /* Memberikan jarak antar elemen */
    flex: 1;
}

/* Gaya untuk header bagian dalam konten kontak */
.contact__content .section__header {
    margin-bottom: 1rem;
}

/* Gaya untuk paragraf dalam konten kontak */
.contact__content .para {
    margin-bottom: 2rem;
    color: var(--text-light);
    text-align: justify;
}

/* Gaya untuk deskripsi dan grid kontak */
.contact__Decsription,
.contact__grid {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Gaya khusus untuk deskripsi kontak */
.contact__Decsription {
    justify-content: space-between;
}

/* Gaya untuk kartu kontak */
.contact__card {
    display: flex;
    flex-direction: column;
    align-items: center; /* Memusatkan konten di dalam kartu secara horizontal */
    justify-content: center; /* Memusatkan konten di dalam kartu secara vertikal */
    text-align: center; /* Memusatkan teks di dalam kartu */
}

/* Gaya untuk grid kontak */
.contact__grid {
    display: grid;
    grid-template-columns: repeat(1, 2fr); /* Dua kolom */
    align-items: center; /* Memusatkan item secara vertikal */
    justify-items: center; /* Memusatkan item secara horizontal */
}

/* Gaya untuk elemen span dalam kartu kontak */
.contact__card span {
    font-size: 1.75rem;
    color: var(--primary-color);
}

/* Gaya untuk heading dalam kartu kontak */
.contact__card h4 {
    font-size: 2rem;
    font-weight: 700;
}

/* Gaya untuk paragraf dalam kartu kontak */
.contact__card p {
    font-weight: 500;
}

/* Gaya untuk gambar dalam kontak */
.contact__image {
    display: grid;
    gap: 2rem;
    margin-left: 2rem;
}

/* Gaya untuk elemen gambar dalam kontak */
.contact__image img {
    max-width: 450px;
    margin: auto;
    border-radius: 50%; /* Menjadikan border bulat */
    border: 2px solid var(--primary-color); /* Menambah border dengan warna yang diinginkan */
}

/* Media queries untuk layar dengan lebar kurang dari 900px */
@media (width < 900px) {
    .contact__container {
        grid-template-columns: repeat(1, 1fr);
    }

    .contact__image {
        grid-area: 1/1/2/2;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}

/* Media queries untuk layar dengan lebar kurang dari 860px */
@media (width < 860px) {
    .contact__image {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Media queries untuk layar dengan lebar maksimum 991px */
@media (max-width: 991px) {
    .contact__container {
        flex-direction: column; /* Ubah ke kolom pada layar kecil */
    }

    .contact__content {
        flex-direction: column;
    }
}
