.footer {
    background-color: var(--black);
}

.footer__container {
    display: grid;
    grid-template-columns: 1.5fr repeat(3, 1fr);
    gap: 2rem;
}

.footer__col h5 a {
    display: inline-block;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--white);
}

.footer__col p {
    margin-bottom: 2rem;
    color: var(--text-light);
}

.footer__socials {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.footer__socials a {
    padding: 5px 10px;
    font-size: 1.25rem;
    color: var(--primary-color);
    background-color: var(--secondary-color-light);
    border-radius: 100%;
    cursor: pointer;
    transition: 0.3s;
}

.footer__socials a:hover {
    color: var(--white);
    background-color: var(--primary-color);
}

.footer__col h4 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
}

.footer__links a {
    margin-bottom: 1rem;
    display: flex;
    color: var(--text-light);
    transition: 0.3s;
}

.footer__links a:hover {
    color: var(--primary-color);
}

.footer__bar {
    padding: 1rem;
    font-size: 0.8rem;
    text-align: center;
    color: var(--text-light);
}

@media (width < 900px) {
    .footer__container {
        grid-template-columns: 2fr 1fr;
    }
}