.services {
    background-color: var(--black); /* Warna latar belakang bagian layanan */
    position: relative; /* Posisi relatif untuk pengaturan elemen lain di dalamnya */
}

.services__carousel {
    overflow: hidden;
    position: relative;
    padding: 2rem 0;
    width: 100%; /* Lebar penuh */
    max-width: 1000px; /* Lebar maksimum jika diperlukan */
    margin: auto; /* Posisi tengah */
}

.services__grid {
    display: flex;
    transition: transform 0.3s ease; /* Transisi untuk efek slide */
}

.services__card {
    cursor: pointer;
    min-width: 300px; /* Lebar minimum untuk kartu layanan */
    margin: 1rem;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.1); /* Warna latar belakang dengan transparansi */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Garis pinggir dengan transparansi */
    border-radius: 5px; /* Sudut bulat */
    transition: all 0.3s ease; /* Transisi umum */
}

.services__card:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Warna latar belakang saat hover */
    transform: scale(1.05); /* Efek scaling saat hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Bayangan saat hover */
    transition: all 0.3s ease; /* Transisi untuk efek hover */
}

.services__card h4 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    user-select: none; /* Menonaktifkan pemilihan teks */
}

.services__card p {
    color: var(--text-light); /* Warna teks */
}

.services__card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem; /* Jarak antara gambar dan konten lain */
    user-select: none; /* Menonaktifkan pemilihan teks */
    -webkit-user-drag: none; /* Menonaktifkan penggeseran gambar di browser Safari */
}

.carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #ff581f; /* Warna latar belakang tombol carousel */
    border: none;
    color: white; /* Warna teks tombol */
    padding: 1rem;
    cursor: pointer;
    z-index: 10; /* Z-index untuk mengatur kedalaman tumpukan */
    border-radius: 50%; /* Bentuk bulat */
}

.carousel__button--left {
    left: 0; /* Posisi tombol kiri */
}

.carousel__button--right {
    right: 0; /* Posisi tombol kanan */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Model kotak yang lebih baik */
    outline: none;
    border: none; /* Menghapus border default */
    text-decoration: none; /* Menghapus dekorasi tautan default */
    transition: all .2s linear; /* Transisi umum */
    text-transform: capitalize; /* Mengubah teks menjadi huruf kapital */
}

@media (max-width: 900px) {
    .services__grid {
        grid-template-columns: repeat(2, 1fr); /* Susunan 2 kolom pada layar kecil */
        gap: 2rem 1rem; /* Jarak antar elemen */
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%; /* Ukuran font 50% pada layar sangat kecil */
    }
}
